<!--
<h1><%= link_to 'Sorejanai search　( ﾟдﾟ)', root_path %></h1>
-->

<br>
<br>
<br>
<%= image_tag("RMMimage.png", :size => "150x150") %><br>

探しても探してもソレじゃないものしか出てこない。<br>
超ウッカリー級（スーパー・ウッカリー）脚韻型コンピュータ。<br>
型式番号RU3P。<br>
<br>
<br>

<form action="<%= search_path %>" method="POST">
    <input type="input" name="keyword" value="<%= @keyword %>" required>
    <input type="submit" value="Search">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

<% if ! @jsonData.nil? %>
<ul>
    <% item=@jsonData['Items'][0]%>
    <%= link_to item['Item']['itemName'], item['Item']['affiliateUrl'] %>
    <br><% item['Item']['mediumImageUrls'].each do |image| %>
    <img src=<%= image['imageUrl']%> alt="画像がありません" width=100 height=100>
    <% end%>
    <br>もしかして:<%= @word %>
    <!--<!%= @keyword%>
    <br>ローマ字:<!%= @roman%>
    <br>母音:<!%= @vowel%>
    <br>ひらがな:<!%= @hiragana%>-->
</ul>

<br>
<%= @template%>

<!-- 決め打ちサンプル -->
<!--
\( ﾟдﾟ)  Hey! Yo!  ( ﾟдﾟ)/ Here we go!<br>
<br>
おまえのえんどう<br>
夏のウインドウ<br>
<br>
さがすぜ楽天<br>
春の祭典<br>

<br>
踏むぜライム<br>
サマータイム<br>
<br>
あるいは痛車<br>
だけど２トン車<br>
ご利用いただきマジ感謝 (・∀・)<br>
-->
<br>



<% end %>
