<!--
<h1><%= link_to 'Sorejanai search　( ﾟдﾟ)', root_path %></h1>
-->

<br>
<br>
<br>
<%= image_tag("RMMimage.png", :size => "150x150") %><br>
あなたの発想を支援する、脚韻型サーチシステム（ベータ版）。<br>
リアルタイムに脚韻で検索をかけるコンピュータです。<br>
<br>
使い方はカンタン。下のサーチボックスに、思いついた日本語を入れてボタンを押すだけ！<br>
コンピュータが、脚韻（ライム）を踏んで、ネットから商品を検索してきます。<br>
従来には無かった、ワクワク感あふれる偶然のお買い物体験をお楽しみください。<br>
入力は、漢字、ひらがな、カタカナに対応しています。<br>
<br>

<form action="<%= search_path %>" method="POST">
    <input type="input" name="keyword" value="<%= @keyword %>" required>
    <input type="submit" value="Search">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

<% if ! @goods.nil? %>
<ul>
    <% item=@goods.Items[0]%>
    <%= link_to item.Item.itemName, item.Item.affiliateUrl %>
    <br><% item.Item.mediumImageUrls.each do |image| %>
    <img src=<%= image.imageUrl%> alt="画像がありません" width=100 height=100>
    <% end%>
    <br>もしかして:<%= @word %>
    <!--<!%= @keyword%>
    <br>ローマ字:<!%= @roman%>
    <br>母音:<!%= @vowel%>
    <br>ひらがな:<!%= @hiragana%>-->
</ul>




<% end %>
