<br>
<br>
<br>
<%= image_tag("RMMimgRight.png", :size => "150x150") %><br>
あなたの発想を支援する、脚韻型サーチシステム（ベータ版）。<br>
いままでなかった「それじゃない」感あふれる偶然の検索体験をお楽しみください。<br>
<br>

<form action="<%= search_path %>" method="POST">
    <input type="input" name="keyword" value="<%= @keyword %>" required>
    <input type="submit" value="Search">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>



<% if ! @goods.nil?  && @goods.count > 0%>
<ul>
    <% item=@goods.Items[0]%>
    <%= link_to item.Item.itemName, item.Item.affiliateUrl %>
    <br><% item.Item.mediumImageUrls.each do |image| %>
    <img src=<%= image.imageUrl%> alt="画像がありません" width=100 height=100>
    <% end%>
    <br><br>
    <button class="btn disabled">もしかして:　<%= @word %></button><br>
    <br><button class="btn btn-primary btn-large">それじゃない</button>
    <button class="btn btn-primary btn-large">わるくない</button>
    <button class="btn btn-primary btn-large">座布団一枚</button>  
    <br>
    <br><br>

    <!--<!%= @keyword%>
    <br>ローマ字:<!%= @roman%>
    <br>母音:<!%= @vowel%>
    <br>ひらがな:<!%= @hiragana%>-->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sorejanai.herokuapp.com" data-lang="ja" data-hashtags="Sorejanai">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</ul>
<% end %>
